
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@model PersonalDiary.Models.UserDiaryModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
    <tr>
        <th>@Html.DisplayFor(m => m.Title)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(m => m.CreateTime)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(m => m.UserName)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(m => m.Content)</th>
    </tr>
</table>
<form action="/DiaryComment/Add" method="post">
    <input type="text" name="CommentContent" />
    <input type="text" value="@ViewBag.DiaryId" style="display:none" name="DiaryId" />
    <input type="submit" />
</form>

