@using Tgnet.Web.Sessions;
@model PageModel<UserDiaryModel>
@using Tgnet.Web.Mvc;
@using Tgnet.Web.Sessions;
@using PersonalDiary.Models;
@{
    ViewBag.Title = "Index";
}
   @Html.ActionLink("Create", "Create")
<h2>Index</h2>
<table>
    <tr>
        <td>Title</td>
        <td>Content</td>
        <td>UserName</td>
        <td>CreateTime</td>
    </tr>
</table>
@{ 
    foreach(var item in Model)
    {
        <table>
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.CreateTime
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { diaryid = item.UserDiaryId }) |
                    @Html.ActionLink("Details", "Details", new { diaryid = item.UserDiaryId }) |
                    @Html.ActionLink("Delete", "Delete", new { diaryid = item.UserDiaryId })
                </td>
            </tr>
 
        </table>
       
    }
  <p>@ViewBag.User</p>
}