@using Tgnet.Web.Sessions;
@model PageModel<UserDiaryModel>
@using Tgnet.Web.Mvc;
@using Tgnet.Web.Sessions;
@using PersonalDiary.Models;
@{
    ViewBag.Title = "Index";
    ViewBag.OptionValue = 1;
}
@*1*@
<script src="~/Content/jq/jquery-1.11.1.js"></script>
<script>
    $(function () {
        $("#Input_Filter").click(function () {
            var optionValue = $("#sort option:selected").val();
            var searchInfo = $("#Input_Search").val();
            alert(searchInfo);
            window.location.href = "/Diary/UserIndex?value=" + optionValue + "&page=" + "&searchInfo=" + searchInfo;
            @*if (@ViewBag.userid== 0)
                { window.location.href = "/Diary/UserIndex?value=" + optionValue + "&searchInfo=" + searchInfo; }
                else
                { window.location.href = "/Diary/UserIndex?userid=" +@ViewBag.userid+"&value=" + optionValue + "&searchInfo=" + searchInfo; }*@
        });
        $("#next_input").click(function (e) {

            var a = $("#next_input").val()
            var page =@ViewBag.page +1;
            if (page > @Model.PageCount)
            {
            return false;
            }

            //用户登录
            if (@ViewBag.userid != 0)
            {
                window.location.href="/Diary/UserIndex?userid=@ViewBag.userid&value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo";
                @*window.location.href = "/Diary/UserIndex?userid=" + @ViewBag.userid + "&page=" + page;*@
            }
                //未有用户登录的
            else {window.location.href = "/Diary/UserIndex?value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo" ; }
        } );
        $("#front_input").click(function (e) {
            var a = $("#front_input").val()
            var b=@ViewBag.userid;

            var page =@ViewBag.page -1;
            if (page < 1) {
                return false;
            }
            if (@ViewBag.userid != 0) { window.location.href = window.location.href="/Diary/UserIndex?userid=@ViewBag.userid&value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo"; }
            else {
                window.location.href = "/Diary/UserIndex?value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo";
        }
        });
        $("#first_page").click(function (e) {
            var a = $("#first_page").val()
            var b=@ViewBag.userid;
            var page =1;
            if (@ViewBag.userid != 0) { window.location.href = "/Diary/UserIndex?userid=@ViewBag.userid&value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo"; }
            else {
                window.location.href = "/Diary/UserIndex?value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo";
        }
        });
                $("#last_page").click(function (e) {
            var a = $("#last_page").val()
            var b=@ViewBag.userid;
            var page =@Model.PageCount;
                    if (@ViewBag.userid != 0) { window.location.href ="/Diary/UserIndex?userid=@ViewBag.userid&value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo"; }
            else {
                window.location.href = "/Diary/UserIndex?value=@ViewBag.Select&page="+page+"&searchInfo=@ViewBag.searchInfo";
        }
                });
    // 分布页
        @*$("#sort").change(function () {
            var a = $("#sort option:selected").val();
            var searchInfo = $("#Input_Search").val();
            var b =@ViewBag.userid;
             var page =@ViewBag.page;
            $.ajax({
                type: "GET",
                dataType: "html",
                     url: "/Diary/Sort",
                     data: "value=" + a +  "&page=" + page+ "&searchInfo=" + searchInfo ,
                    beforeSend: function (XMLHttpRequest) {
                    $("#test_ajax").text("正在查询...");
                    // Pause(this,100000);
                },
                success: function (html) {
                    $("#test_ajax").html(html);
                    $("#test_ajax").css("color", "red");
                },
                complete: function (XMLHttpRequest, textStatus) {
                    //隐藏正在查询图片
                },
                error: function () {
                    $("#test_ajax").text("出错了...");
                }
            });
        } );*@
    });
    </script>

@*2*@


@Html.ActionLink("Create", "Create")

<h2>Index</h2>
<h2>@ViewBag.User</h2>
@*@using{

    }*@
<p>
  @if (ViewBag.userid == 0)
  {  <a href="/User/Login">Login</a> }
  
  @if (ViewBag.userid != 0)
  {  <a href="/User/LogOut">LogOut</a>}
   
</p>

@*<form action="" method="post">*@



    @*@using (Ajax.BeginForm(new AjaxOptions
        {
            HttpMethod = "get",                    //使用get方法请求
            InsertionMode = InsertionMode.Replace, //将过滤的数据覆盖原数据
            UpdateTargetId = "user_diary_List"          //覆盖的地方(值为标签ID)
        }))
        {
            <input type="search" name="searchString" />
            <input type="submit" name="Filter" />
        }
        @Html.Partial("_IndexPartialPage", Model)               @*/*引用分部视图，第一个值
        为分部视图名，第二个值是
        把model传过去*/*@
<label >关键字</label>
    <input id="Input_Search" placeholder="输入姓名搜索...." type="search" name="searchstring" />
    <select name="sort" id="sort">
        <option selected>@ViewBag.Select</option>
        <option value="1">标题升序</option>
        <option value="2">标题降序</option>
        <option value="3">时间升序</option>
        <option value="4">时间降序</option>
    </select>
<input id="Input_Filter" type="submit" name="Filter" />
@*</form>*@


    <div id="test_ajax">
        <table>
            @{
                <tr>
                    <td>Title</td>
                    <td>Content</td>
                    <td>UserName</td>
                    <td>CreateTime</td>
                </tr>
                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Diary",new { diaryid = item.UserDiaryId })">
                                @item.Content.Substring(0, 1)
                            </a>

                        </td>
                        <td>
                            @item.UserName.Substring(0, 3)
                        </td>
                        <td>
                            @item.CreateTime.ToString().Substring(0,13)
                        </td>
                        @*有用户登陆*@
                        @if (ViewBag.userid != 0)
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { diaryid = item.UserDiaryId }) |
                                @Html.ActionLink("Details", "Details", new { diaryid = item.UserDiaryId }) |
                                @Html.ActionLink("Delete", "Delete", new { diaryid = item.UserDiaryId })|
                                @Html.ActionLink("Publish", "Publish", new { diaryid = item.UserDiaryId })|
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "DiaryComment", new RouteValueDictionary { { "diaryid", item.UserDiaryId } })">Read|</a>
                                <a href="@Url.Action("Add", "DiaryComment",new { diaryid = item.UserDiaryId })">Add</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Details", "Details", new { diaryid = item.UserDiaryId }) |
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "DiaryComment", new RouteValueDictionary { { "diaryid", item.UserDiaryId } })">Read</a>|
                                <a href="@Url.Action("Add", "DiaryComment",new { diaryid = item.UserDiaryId })">Add</a>
                            </td>
                        }
                        @*未有用户登陆*@

                    </tr>
                }

                <p>@ViewBag.User</p>

            }
        </table>  
        <input type="button" id="first_page" value="first" />
        <input type="button" id="front_input" value="front" />
        <input type="button" id="next_input" value="next" />
        <input type="button" id="last_page" value="last" />
    </div>
